/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

/* Header section style  */
header {
  padding: 20px 0;
  /* background-color: rgb(238, 238, 238); */
  margin-bottom: 20px;
}
header > div > h1 {
  font-weight: 400;
}
header > div > h1 > span {
  font-weight: 800;
  color: #1090d8;
  font-size: 1em;
}

/* Main container style   */
.container {
  display: grid;
  grid-template-columns: 75% auto;
  gap: 10px;
}

/* Card Container style  */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
/* Single card style  */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 40px;
  gap: 30px;
  border: 1px solid lightblue;
  border-radius: 10px;
}
.input-field-container {
  text-align: center;
}
.input-field-container input {
  width: 20%;
  margin: 0 5px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: rgba(255, 182, 193, 0.586);
}
.card img {
  width: 50%;
  margin: 0 auto;
}
.calculate-btn {
  width: 100%;
  margin: 0 auto;
  background-color: #1090d8;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.card-heading,
.card-description {
  text-align: center;
  margin-top: 15px;
}

/* Area calculation style  */
.area-calculation {
  background-color: #f1eeee;
}
.area-calculation h1 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}
.area-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
